body {
    color: white;
    margin: 0;
    font-size: 0.875rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    background-color: #c5b4b4 !important;
}

body::-webkit-scrollbar {
    display: none;
  }

  *::-webkit-scrollbar {
    display: none;
  }

  .MuiCardContent-root {
    padding: 16px;
    background: #dcd3d3  !important;
}

.MuiCardActions-root {
    display: flex;
    padding: 8px;
    align-items: center;
    background: #dcd3d3  !important;
}

.MuiChip-root {
  color: rgba(0, 0, 0, 0.87);
  border: none;
  cursor: default;
  height: 32px;
  display: inline-flex;
  outline: 0;
  padding: 0;
  font-size: 0.8125rem;
  box-sizing: border-box;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  align-items: center;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  white-space: nowrap;
  border-radius: 16px;
  vertical-align: middle;
  justify-content: center;
  text-decoration: none;
  background-color: #d3c5c5 !important;
}

.makeStyles-paper-14 {
  width: 100px;
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  background: #ffecec !important;
}

